.btn-primary {
  box-sizing: border-box;
  margin: 0px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-image: initial;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  font-family: inherit;
  font-weight: 700;
  width: auto;
  line-height: 1em;
  font-size: 14px;
  border-radius: 6px;
  padding: 16px 24px;
  min-width: 100px;
  color: var(--color-primaryContrast, #fff);
  background-color: var(--color-primary);
  transition: background-color 100ms ease 0s;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}

.btn-secondary {
  box-sizing: border-box;
  margin: 0px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-image: initial;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  font-family: inherit;
  font-weight: 700;
  width: auto;
  line-height: 1em;
  font-size: 14px;
  border-radius: 6px;
  padding: 16px 24px;
  min-width: 100px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary, #fff);
  background-color: transparent;
  transition: background-color 100ms ease 0s;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}
